.GroupNameInputBox{
    margin-top: 30px;
    height: 30px;
    width: 290px;
    padding: 5px;
    border-radius: 10px;
    border:0.2px solid rgb(220, 220, 220)
}

.CreateGroupButton{
    margin-top: 10px;
    width: 180px;
  height: 30px;
  outline: 0;
  border: 0px;
  border-radius: 20px;
  background-color: rgba(11, 52, 201, 0.632);
  border: 1px solid rgb(189, 189, 189);
  color:#ffffff
}
.CreateGroupButton:hover{
    background-color: blueviolet;
    color: #ffffff;
    border:2px solid #1dd939
}
.SelectedGroup{
    background-color: rgb(245, 128, 247);
}

.MyGroupButtons{
    width: 100px;
    height: 30px;
    outline: 0;
    border: 0px;
    border-radius: 20px;
    margin: 5px;
    border:1px solid lightgray
}
.MyGroupButtons:hover{
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(6, 156, 210);
}
.SelectedGroup:hover{
    background-color: #cc70ea85;
}
.MyGroupPageSmallText{
    font-size: smaller;
    color: #4e4e4e;
}

.AdduserInputBox{
    margin-top: 10px;
    height: 20px;
    width: 230px;
    padding: 5px;
    border-radius: 10px;
    border:0.2px solid rgb(220, 220, 220)
}
.AddUserButton{
    background-color: rgba(11, 52, 201, 0.632);
    margin-top: 10px;
    width: 90px;
    height: 30px;
    outline: 0;
    /* border: 0; */
    border-radius: 20px;
    border: 1px solid rgb(189, 189, 189);
    color:#ffffff
}
.EndTripButton{
    background-color:#f7022a;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    outline: 0;
    /* border: 0; */
    border-radius: 20px;
    border: 1px solid rgb(189, 189, 189);
    color:#ffffff
}
.EndTripButton:hover{
    background-color: blueviolet;
    color: #ffffff;
    border:2px solid #1dd939
}
.EndTripButton:disabled{
    background-color: rgba(103, 103, 103, 0.632);
    margin-top: 10px;
    width: 90px;
    height: 30px;
    outline: 0;
    /* border: 0; */
    border-radius: 20px;
    border: 1px solid rgb(189, 189, 189);
    color:#e9e5e5
}
.AddUserButton:hover{
    background-color: blueviolet;
    color: #ffffff;
    border:2px solid #1dd939
}
.GroupContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 100vh;
}
@media only screen and (min-width: 900px) {
.GroupItems{
    height: 87vh;
}
}

@media only screen and (min-width: 900px) {
.GroupItem-1{
    flex: 1;
    position: sticky;
}
.GroupItem-2{
    flex:2;
    /* position: absolute; */
    /* top: 10%; right: 0; bottom: 0; */
    /* left:0; */
    overflow-y: scroll;
}
}
.AmountInputBox{
    height: 15px;
    width: 80px;
    padding: 4px;
    border-radius: 10px;
    border:0.2px solid rgb(220, 220, 220)
}

/* input:focus {
    outline: 0.1px solid grey;
    height:20px
  } */

.MarkFinalStatus{
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: rgba(223, 230, 232, 0.345);
    border: 1px solid rgb(189, 189, 189);
    outline: 0;
    border-radius: 20px;
    font-size: 0.6rem;
    height:20px;
    width:90px
}

.MarkFinalStatus:hover{
    background-color: blueviolet;
    color: #ffffff;
    border:2px solid #1dd939
}
.MarkFinalStatus:disabled{
    background-color: rgb(236, 236, 236);
    color: #bcbcbc;
    border:1px solid #d6d5d5
}

.LoadingText{
    color: #d90166;
}