.NavButtons{
  width: 100px;
  height: 30px;
  outline: 0;
  border: 0px;
  border-radius: 20px;
}

a{
  text-decoration: none;
  margin: 10px;

}

.ActiveTab{
  background-color: rgb(192, 244, 150);
}